*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
header{
    background-color: none;
    padding: 20px 15px;
    text-align: center;
    
}
header img{
    height: 110px;
    padding: 0;
}
nav a{
    text-decoration: none;
    font-size: 1.5em;
    padding: 30px;
    color: black;
}
nav .active{
    text-decoration: underline;
}
nav a:hover{
    text-decoration: underline;
}
.button{
    text-decoration: none;
    font-size: 1.5em;
    color: yellow;
    border: 1px solid black;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    transition: .3s;
}
.button:hover{
    background-color: black;
    color: yellow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    text-decoration: none;


}
main{
    position: relative;
    background-image: url(background11.jpg);
    background-position: top;
    background-size: cover;
    min-height: 800px;
}
.maincont{
    color: yellow;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    animation-duration: 3s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-name: maincont;
}
@keyframes maincont {
    from{
        color: rgba(255, 255, 0, 0);
    }
    to{
        color: yellow;
    }
}
.maincont h1{
    font-weight: bold;
}
.contactform{
    text-align: center;
}
.contactform h1{
    font-size: 3.8em;
    margin-bottom: 20px;
    text-decoration: underline;
}
.contactform h1, p{
    text-align: center;
}
.contactsect{
    display: flex;
    flex-direction: column;
    margin: 100px 50px;
}

.contactform{
  text-align: left;
}
.section1{
    margin-top: 20px;
    font-size: 1.1em;

}
.section1 input{
    font-size: 1.1em;
    width: 100%;
    margin-bottom: 1.1em;
    height: 3em;
    border: 4px solid black;
}
.section1 label{
    text-align: right;
}
.section2 label{
    font-size: 1.1em;
}
.section2 select{
    margin-bottom: 1.1em;
    font-size: 1.1em;
    width: 100%;
    height: 3em;
    border: 4px solid black;

}
.section3 label{
    font-size: 1.1em;
}
.section3 select{
    margin-bottom: 1.1em;
    font-size: 1.1em;
    width: 100%;
    height: 3em;
    border: 4px solid black;
}
.section4{
    font-size: 1.1em;
}
.section4 input{
    margin-bottom: 2em;
}
.section5{
    font-size: 1.1em;
}
.section5 input{
    margin-bottom: 2em;
}
.section6 label{
    font-size: 1.1em;
}
.section6 select{
    margin-bottom: 1.1em;
    font-size: 1.1em;
    width: 100%;
    height: 3em;
    border: 4px solid black;
}
.section7 input{
    margin-bottom: 1.1em;
    font-size: 1.1em;
    width: 100%;
    height: 3em;
    border: 4px solid black;

}
.section8{
    font-size: 1.1em;
}
.section8 textarea{
    font-size: 1.1em;
    width: 100%;
    border: 4px solid black;

}
.submbutton{
    margin-top: 2em;
    text-align: center;
}
.submbutton input{
    background-color: yellow;
    color: black;
}

.contactinfo{
    text-align: center;
}
.contactinfo h1{
    font-size: 2.8em;
    margin-bottom: 20px;
    background-color: yellow;
    color:black ;
}
.contactinfo p{
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}
.contactinfo a{
    color: black;
    text-decoration: none;
}
.contactinfo i{
    background-color: yellow;
    color: black;
    border: 1px solid black;
    margin-left: 15px;
    margin-bottom: 4em;
    border-radius: 55%;
    font-size: 2em;
    padding: 10px;
    transition:.3s;
}
.contactinfo i:hover{
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    color: yellow;
}
footer{
    background-color: yellow;
    color: black;
    padding: 20px;
    text-align: center;
}
footer h1{
    font-size: 3em;
    margin-bottom: 30px;
}
footer .button{
    transition: .3s;
    background-color: yellow;
    color: black;
}
.button:hover{
    background-color: black;
    color: yellow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    text-decoration: none;
}

footer i{
    color: black;
    border: 1px solid black;
    border-radius: 55%;
    margin-left: 15px;
    font-size: 2em;
    margin-top: 40px;
    padding: 10px;
    transition:.3s;
}
footer i:hover{
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    color: yellow;
}
@media screen and (max-width:765px){
    .maincont{
        font-size: 2.4em;
}
}

@media screen and (max-width:606px){
    header {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Align items to the left */
        text-align: center;
        font-size: 1em;
      }
    
      nav {
        margin-top: 10px; /* Add spacing between logo and links */
      }
    
      nav a {
        padding: 10px;
        margin-left: 0; /* Reset margin for links */
        display: block; /* Display links as block elements */
        margin-bottom: 10px; /* Add vertical spacing between links */
        width: auto;
      }
    }
    @media screen and (max-width:488px){
        footer h1{
            font-size:2.2em ;
        }
    }
    @media screen and (max-width:469px) {
        .contactinfo h1{
            font-size: 2.5em;
        }
        .contactform h1{
            font-size: 3.5em;
        }
    }
